/* .uploadFile::-webkit-file-upload-button {
    visibility: hidden;
}
.uploadFile::before{
    content: 'Upload File';
    border: none;
    border-radius: 10px;
    background-color: #DD0895;
    color:white;
    padding: 10px;
    cursor: pointer;
} */

.uploadFile {
    margin-top:15px;
    
}

